$primary: #33b122 !default;
$secondary: #fd0de9 !default;
$success: #148d46c9 !default;
$info: #fdd10d !default;
$warning: #18ecd0 !default;
$danger: #750dfd !default;
$light: #eaf372 !default;
$dark: #fd290d !default;
$white: #a7c7f7 !default;

@import "../scss/bootstrap";
